.carousel {
  height: 80vh;
  width: 40%;
  border: 0.2em solid black;
  margin: 5em;
  margin-left: 35em;
  box-shadow: 0.4em -0.4em 0.4em 0.2em;
  position: relative;
  /* background: url("you.jpg") center no-repeat; */
  background-color: rgb(194, 128, 228);
}
.btn-left {
  position: absolute;
  font-size: 3em;
  top: 50%;
  left: 0.5%;
  padding: 0.5em;
  border-radius: 2em;
  background-color: rgb(144, 96, 183);
  transform: translateY(calc(-50%));
  cursor: pointer;
}
.btn-right {
  position: absolute;
  font-size: 3em;
  top: 50%;
  right: 0.5%;
  padding: 0.5em;
  border-radius: 2em;
  background-color: rgb(151, 129, 223);
  transform: translateY(calc(-50%));
  cursor: pointer;
}
.slider-text {
  font-size: 1.5em;
  font-weight: 700;
  display: flex;
  margin: 1em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  justify-content: center;
  background-color: rgb(249, 249, 249);
  border-radius: 2em;
  padding: 1em;
}
.slider-img {
  margin-left: 25%;
  margin-top: 0%;
  margin-bottom: 5%;
  height: 60%;
  width: 50%;
  border: 0.5rem;
  border-radius: 2em;
}
